<%- include('partial/header.html', {title: "Home"}); %>

<div class="parallax-container" style="margin-top: 20px">
    <div class="parallax"><img class="responsive-img" src="https://static.pexels.com/photos/33343/building-joy-planning-plans.jpg"></div>
</div>
<h2 class="center-align">Because safety shouldn't be a hassle</h2>
<div class="divider"></div>

<p class="flow-text">
    SafeMine is an agile platform for tomorrow's miners, allowing employees to quickly and easily identify mission critical hazards on the jobsite.
</p>

<!-- Fill in stuff about what we do -->

<%- include('partial/footer.html', {}); %>