<%- include('partial/header.html', {title: "Safety Radar"}); %>

<h4>Based on your location, expect the following risks nearby:</h4>

<div class="row safeminer-risks"> <!-- This is decent... -->

<div class="col s12 m6 l3"><a class="modal-trigger btn-large red" style="padding-top:0.8em;line-height:1em;" href="#"><i class="flaticon-silhouette-with-safety-headphone"></i>Loud Noises<br /><small>Whole Site</small></a></div>

<div class="col s12 m6 l3"><a class="modal-trigger btn-large red" style="padding-top:0.8em;line-height:1em;" href="#"><i class="flaticon-worker-silhouette"></i>Head injury<br /><small>Whole Site</small></a></div>

<div class="col s12 m6 l3"><a class="modal-trigger btn-large red" style="padding-top:0.8em;line-height:1em;" href="#"><i class="flaticon-loaded-truck-side-view"></i>Heavy Eqpt<br /><small>50 meters</small></a></div>

<div class="col s12 m6 l3"><a class="modal-trigger btn-large red" style="padding-top:0.8em;line-height:1em;" href="#"><i class="flaticon-locked-padlock-with-chain"></i>L.O.T.O.<br /><small>55 meters</small></a></div>

<div class="col s12 m6 l3"><a class="modal-trigger btn-large red" style="padding-top:0.8em;line-height:1em;" href="#"><i class="flaticon-hook-hanging-material"></i>Suspended Loads<br /><small>15 meters</small></a></div>

<div class="col s12 m6 l3"><a class="modal-trigger btn-large red" style="padding-top:0.8em;line-height:1em;" href="#"><i class="flaticon-face-shield"></i>Welding<br /><small>200 meters</small></a></div>
</div>

<%- include('partial/footer.html'); %>
