<footer class="page-footer blue-grey darken-2" style="margin-top: 40px">
<div class="container">
    <div class="row">

        <h5 class="white-text center-align">SafeMiner</h5>

        <div class="col l3 s6"><p class="center-align">
        <a class="grey-text text-lighten-3" href="/about">About</a></p></div>

        <div class="col l3 s6"><p class="center-align">
        <a class="grey-text text-lighten-3" href="/api/reports">Your Reports</a></p></div>

        <div class="col l3 s6"><p class="center-align">
        <a class="grey-text text-lighten-3" href="/api/radar">Safety Radar</a></p></div>


    </div>


<div class="footer-copyright">
    <div class="container">
    © 2017 Magical Unicorn Dev Group
    </div>
</div>
</footer>

</div>

<script>
$(document).ready(function(){
   $(".button-collapse").sideNav();
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
  $('.parallax').parallax();
});
</script>
</body>
</html>
